* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	position: relative;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	transition: all 0.3s;
}
.swiper-container {
	width: 800px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.swiper-wrapper {
	padding: 50px;
	padding-right: 0;
}

.swiper-slide {
	background: rgb(121, 121, 121);
}

.swiper-slide {
	width: 183.24px;
	height: 287.15px;
	transition: all 0.3s;
}

.swiper-slide-active {
	transform: scale(1.2);
}
.swiper-slide-next {
	transform: scale(1.1);
	transition-delay: 0.2s;
}

.swiper-button {
	position: absolute;
	background-color: transparent;
	border: 0;
	outline: 0;
	transition: all 0.3s;
}
.swiper-button:hover {
	transform: scale(1.1);
}
.swiper-button-next,
.swiper-button-prev {
	bottom: 0;
	top: 90%;
}
